@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Sora:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize; 
}

:root{
    font-size: 62.5%;
    --primary-color : #2874f0;
    --white-color : rgb(236, 232, 232);
    --gold-color : gold;
    --font-color : #222;
    overflow-x: hidden;
}
h1,h,h3,h4,h5,h6{
    font-family: 'Arimo', sans-serif;
}
section{
    margin: 3rem 5%;
    box-shadow: 0.1rem 0.3rem 1rem rgba(0, 0, 0, 0.2);
    background-color: var(--white-color);
}

span{
    color: var(--primary-color);
    font-family: 'Sora', sans-serif;
}
/* --------- UTILITY CLASSES ------------ */
.btn {
    padding: 1rem 3rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 2rem;
    cursor: pointer;
    border-radius: 1rem;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
}
.btn:hover{
    background-color: var(--font-color);
    transition: 0.5s linear;
}
.d-flex-a{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.d-flex-b{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-flex-c{
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-flex-e{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*----------- utility classes ends ----------*/

/* --------------header----------- */
header{
    width: 100vw;
    height: 7rem;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header-logo a{
    font-family: 'Arimo', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--white-color);
    margin-left: 10rem
}
.header-logo a i{
    margin-right: 0.4rem;
    color: var(--gold-color);
}
header form{
    background-color: var(--white-color);
}
header form input{
    width: 40rem;
    height: 4.5rem;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: var(--font-color);
}
header form button{
    width: 5rem;
    height: 4.5rem;
    border: none;
    outline: none;
    font-size: 2rem;
    cursor: pointer;
}
header form button i:hover{
    color: var(--primary-color);
}
header .header-nav{
    margin-right: 10rem;
}
header .header-nav a,
header .header-nav div {
  font-size: 2.5rem;
  margin-left: 2rem;
  color: #fff;
  cursor: pointer;
}
header .header-nav a:hover,
header .header-nav div:hover {
  color: var(--gold-color);
  transition: 0.2s linear;
}
header .header-nav #search-btn {
  display: none;
}
/* ------------Header Section Ends ------------- */

/* ----------side bar section starts ------------ */
.side-bar {
    position: fixed;
    top: 0;
    left: -110%;
    height: 100%;
    width: 30rem;
    background: #fff;
    z-index: 10000;
}
.side-bar.active{
    left: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);;
    transition: 0.2s linear;
}
.side-bar #close-side-bar {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    color: #666;
    transform: rotate(-90deg);
    font-weight: 800;
    transition: 0.3s ease-in;
}
  
.side-bar #close-side-bar:hover {
    transform: rotate(90deg);
    transition: 0.3s ease-in;
    color: var(--font-color);
}
  
.side-bar .user {
    padding: 2rem;
    background: var(--white-color);
    text-align: center;
}
  
.side-bar .user img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    border: 1rem solid #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    margin-bottom: .5rem;
}
  
.side-bar .user h3 {
    padding: .5rem 0;
    font-size: 1.7rem;
    color: #666;
    font-family: 'Montserrat', sans-serif;
}
  
.side-bar .user a {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-family: 'Sora', sans-serif;
}
  
.side-bar .user a:hover {
    color: var(--font-color);
    transition: 0.3s linear;
}
  
.side-bar .navbar {
    padding-top: 1rem;
}
  
.side-bar .navbar a {
    display: block;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.side-bar .navbar a:hover {
    color: var(--primary-color);
    
}
.side-bar .navbar a:hover i {
    padding-right: 2rem;
    transition: 0.2s linear;  
}
.side-bar .navbar a i {
    padding-right: .5rem;
}

/* ----------side bar section starts ------------ */

/* ------------main Section starts ------------- */

main{
    padding: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.2);
}
.main-content:hover{
    color: var(--primary-color);
}
main img{
    width: 7rem;
    cursor: pointer;
}
main p{
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
/* ---------- main section ends ---------------- */

/* ----------- image slider section ----------- */

section#image-slider{
    background-color: #fff;
    min-height: 40rem;
    position: relative;
    overflow: hidden;
}
.slide{
    font-family: 'Arimo', sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.slide .image{
    width: 50%;
    padding-left: 10rem;
}
.slide .image img{
    width: 70%;
}
.slide .content{
    text-align: left;
    width: 50%;
    height: 50%;
}
.slide .content span{
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.slide .content h3{
    font-size: 3rem;
    margin-bottom: 3rem;
}

#image-slider .left,.right{
    position: absolute;
    cursor: pointer;
    font-size: 5rem;
    font-weight: 400;
    top: 45%;
}
#image-slider .right{
    right: 0;
}

/* ----------img slider section ends ----------*/

/* ----------top offers section starts ----------*/

section#top-offers-section{
    height: 30rem;
    background-color: #f5f5f5;
}
.top-offers{
    width: 25%;
    text-align: center;
}
.t-f-head h3{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    padding: 2rem;
}
.top-offers img{
    margin-bottom: 1rem;
    height: 90%;
    width: 90%;
}
.top-offers img:hover{
    transform: scale(1.1);
    transition: 0.2s linear;
}
.top-offers .content span{
    font-size: 1.5rem;
}
.top-offers .content h3{
    font-size: 2rem;
    color: var(--font-color);
    margin-top: 0.5rem;
}

/* ----------top offers section ends ----------*/

/* ----------new arrival section starts ----------*/
#new-arrival h2{
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Sora', sans-serif;
    padding: 2rem;
}
.arrivals{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
}
.arrival{
    margin: 2rem;
    cursor: pointer;
    border: 0.5rem solid #ddd;
    height: 20rem;
}
.arrival .image .hover-img{
    display: none;
}
.arrival .image{
    width: 40%;
}
.arrival .image img{
    width: 100%;
}

.arrival:hover .image .main-img{
    display: none;
}
.arrival:hover .image .hover-img{
    display: inline-block;
    transition: 0.5s linear;
}
.arrival .content{
    padding-left: 0.5rem;
}
.arrival .content h3{
    font-size: 2.4rem;
    font-family: 'Arimo', sans-serif;
    color: var(--font-color);
}
.arrival .content .price{
    font-size: 2rem;
    font-family: 'Sora', sans-serif;
    padding-top: 0.5rem;
}
.arrival .content .price span{
    font-size: 1.5rem;
    font-family: 'Sora', sans-serif;
    padding-top: 0.5rem;
    text-decoration: line-through;
}
.arrival .content i{
    color: var(--gold-color);
    font-size: 1.5rem;
    padding-top: 0.5rem;
}

/* --------- footer section start ---------- */

footer{
    height: 10rem;
    background-color: rgb(16, 16, 41);
    color: var(--white-color);
    font-family: 'Arimo', sans-serif;
}
.footer-content{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(3,1fr);
}


.footer-content p{
    font-size: 2rem;
    padding: 4rem 0rem 0rem 5rem;
}
.footer-content .share{
    padding: 4rem 0rem 0rem 16rem;
}
.footer-content .share a{
    font-size: 3rem;
    color: var(--white-color);
    padding-right: 1rem;
}
.footer-content .share a:hover{
    color: var(--gold-color);
    transition: 0.3s ease;
}
.footer-content .cards{
    padding: 3rem 0rem 0rem 5rem;
}

/* ----------- home page ends ------------ */
/* ----------- about page starts ------------ */
#about{
    font-family: 'Arimo', sans-serif;
}
.about-us{
    height: 40rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    text-align: left;
    background-color: #fff;
    align-items: normal;
}
.about-us .companylogo{
    width: 40%;
    height: 100%;
}
.about-us .content{
    width: 60%;
    padding: 0 10rem;
}
.about-us .companylogo img{
    height: 100%;
    width: 100%;
}
.about-us .companylogo p{
    text-align: center;
}
.about-us .content h2{
    font-size: 3rem;
    padding: 2rem 0;
    color: var(--font-color);
}
.about-us .content p{
    font-size: 2rem;
    padding: 1rem 0;
    color: #666;
}
.about-us .content .btn{
    margin-top: 2rem;
}
/* ---------------- FAQs section starts --------------- */
#faqs{
    font-family: 'Montserrat', sans-serif;
    box-shadow: none;
}
#faqs h2{
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: var(--primary-color);
}
#faqs .accordion-container {
    max-width: 70rem;
    margin: 2rem auto;
}

#faqs .accordion-container .accordion{
    background: #fff;
    margin-bottom: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

#faqs .accordion-container .accordion:last-child {
    margin-bottom: .5rem;
}

#faqs .accordion-container .accordion.active .accordion-heading {
    transition: 0.3s linear;
    background: var(--primary-color);
}

#faqs .accordion-container .accordion.active .accordion-heading i {
    transform: rotate(180deg);
    transition: 0.3s linear;
}

#faqs .accordion-container .accordion.active .accordion-content {
    display: block;
    transition: 0.3s linear;
}

#faqs .accordion-container .accordion .accordion-heading {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--font-color);
    cursor: pointer;
}

#faqs .accordion-container .accordion .accordion-heading h3 {
  font-size: 2rem;
  color: var(--white-color);
}

#faqs .accordion-container .accordion .accordion-heading i {
  font-size: 2rem;
  color: var(--white-color)
}

#faqs .accordion-container .accordion-content {
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 2;
    color: #666;
    display: none;
}

/*-------------------- about page end------------- */

/* ------------- products page starts ------------- */

#category h2{
    text-align: center;
    font-size: 4rem;
    font-family: 'Sora', sans-serif;
}

.category-shop{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    flex-wrap: wrap;
}
.category-shop a{
    margin:2rem 1rem;
    border: 0.2rem solid var(--font-color);
    padding: 2rem;
    font-size: 1.5rem;
    color: var(--font-color);
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
}
.category-shop a:hover{
    background-color: var(--font-color);
    color: var(--white-color);
    transition: 0.5s linear;
}
/* featured product section starts */

#featured h2{
    text-align: center;
    font-size: 4rem;
    font-family: 'Sora', sans-serif;
}
.featured-products{
    flex-wrap: wrap;
}
.featured-products .f-product{
    width: 30%;
    margin: 1rem;
    border: .2rem solid black;
    background-color: #fff;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.featured-products .f-product .image{
    position: relative;
}
.featured-products .f-product .image img{
    height: 30rem;
}
.featured-products .f-product .image .icons{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1rem;
    left: 1rem;
}
.featured-products .f-product .image .icons a{
   padding: 1rem;
   font-size: 2rem;
   background-color: var(--font-color);
   color: var(--white-color);
   border-radius: 50%;
   margin: 0.5rem;
   display: none;
}
.featured-products .f-product .image .icons a:hover{
   background-color: var(--primary-color);
   transition: 0.2s linear;
}
.featured-products .hover-img{
    display: none;
}
.featured-products .f-product:hover .hover-img{
    display: inline;
}
.featured-products .f-product:hover .main-img{
    display: none;
}
.featured-products .f-product:hover .image .icons a{
    display: block;
}
.featured-products .f-product .content h3{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--font-color);
}
.featured-products .f-product .content .price{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Sora', sans-serif;
}
.featured-products .f-product .content .price span{
    font-size: 1.8rem;
    text-decoration: line-through;
}
.featured-products .f-product .content .stars{
    font-size: 1.8rem;
    color: var(--gold-color);
    margin-bottom: 1rem;
}
/* -------------- featured product section ends ----------------*/
/* -------------- deals section start ----------------*/

#deals h2{
    font-size: 4rem;
    text-align: center;
    font-family: 'Sora', sans-serif;
}
.deal-section .deal{
    position: relative;
    border: .2rem  solid black;
    border-radius: 0.5rem;
    margin: 1rem;
    overflow: hidden;
    cursor: pointer;
}
.deal-section .deal img{
    width: 100%;
    height: 100%;
}
.deal-section .deal .content{
    position: absolute;
    top: 30%;
    left: 2rem;
}
.deal-section .deal .content span,h3{
    font-size: 2rem;
    margin: 1rem;
}
.deal-section .deal .content a{
    display: inline-block;
}
.deal-section .deal:hover  img{
    transform: scale(1.1);
    transition: 0.2s linear;
}

/* -------------- deals section ends ----------------*/

/* ------------- products page ends ------------- */

/* ------------- contact page starts ------------- */

#contact h2{
    font-size: 4rem;
    text-align: center;
    font-family: 'Sora', sans-serif;
}
.contact-us{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
}
.contact-us .contact-ways{
    border: .2rem solid var(--font-color);
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    margin: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--font-color);
    background-color: #fff;
    height: 25rem;
    border-radius: .5rem;
    
}
.contact-us .contact-ways i{
    font-size: 2rem;
    padding: 2rem;
    margin: 1rem auto;
    color: var(--white-color);
    border-radius: 50%;
    background-color: var(--primary-color);
}
.contact-us .contact-ways h3{
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
.contact-us .contact-ways p{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

/* ----------- queries section starts ------------------- */
#contact-queries{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 2rem;
}

.contact-msg h3 {
    font-size: 3rem;
    color: var(--font-color);
    padding: 1rem 0;
}

.contact-msg p{
    font-size: 1.5rem;
    color: var(--font-color);
    padding: 1rem;
    font-family: 'Arimo', sans-serif;
    line-height: 2.5rem;
}

.contact-msg .contact-form input{
    font-size: 1.5rem;
    width: 46%;
    outline: none;
    margin: 1rem;
    padding: 1.2rem 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.contact-msg .contact-form input:focus{
    transform: scale(1.05);
    border: .2rem solid #666;
}
.contact-msg .contact-form textarea{
    font-size: 1.5rem;
    width: 96%;
    height: 10rem;
    outline: none;
    margin: 1rem;
    padding: 1.2rem 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.contact-msg .contact-form textarea:focus{
    border: .2rem solid #666;
}
.contact-msg .contact-form .btn{
    margin: 1rem;
}

.contact-route .map{
    width: 100%;
    height: 100%;
    border: 2rem solid var(--white-color);
}

/* ----------- queries section ends ------------------- */

/* ------------- contact page ends ------------- */

/* ------------- login page starts ------------------- */
#login{
    background-color: #fff;
    box-shadow: none;
}
#login form{
    max-width: 40rem;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 1.5rem 1.5rem 5rem rgb(0 0 0 / 30%);
    margin: 1rem auto;
}

#login form h3{
    text-align: center;
    font-size: 3rem;
    padding-bottom: 1rem;
}
#login form input.box{
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    border: none;
    box-shadow: 0rem 0.5rem 1rem rgb(0 0 0 / 20%);
    border-radius: 1rem;
}
#login form .remember{
    font-size: 2rem;
    padding-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
}
#login form input.box:focus{
    transform: scale(1.05);
    border: .2rem solid var(--font-color);
}
#login form input.btn{
    width: 100%;
    margin: 1rem auto;
    cursor: pointer;
}
#login form p{
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    color: var(--font-color);
    font-family: 'Sora', sans-serif;
}
#login form a.link{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    background-color: var(--font-color);
    color: var(--white-color);
    cursor: pointer;
}
#login form a.link:hover{
    background-color: var(--primary-color);
    transition: 0.3s linear;
}
/* ------------- login page ends ------------------- */